<% if !links.first.nil? %>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">#Score</th>
      <th>Content</th>
      <th>Details</th>
      <th>Track</th>
    </tr>
  </thead>
  <tbody>
    <% links.each do |link| %>
    <tr>
      <td id="<%= div_id('link_vote', link.full_name) %>" class="text-center">
        <%= vote_up_link(link) %>
      </td>
      <td>
      <td class="text-center"><%= link.attributes[:score] %></td>
      <td>
      
        <%= link_to link.title, url_from_permalink(link.attributes[:permalink]), target: "_blank" %><br>
        <%= trim_content(link.selftext, 100) %><br>
      </td>
      <td>
        <%= time_ago_in_words(Time.at(link.attributes[:created_utc]).localtime) %> ago<br>
        by <%= link.author %><br>
        <%= link.attributes[:num_comments] %> comments
        <%#= link.inspect %>
      </td>
      <td id="<%= div_id('link_tracking', link.full_name) %>">
        <div id="<%= div_id('link_tracked', link.full_name) %>" <% if !check_link_tracking?(user_tracks, link) %>style="display:none;"<% end %>>
          Tracking
        </div>
        <div id="<%= div_id('link_track_form', link.full_name) %>" <% if check_link_tracking?(user_tracks, link) %>style="display:none;"<% end %>>
            <%= form_for([current_user, track], method: :post, remote: true) do |form| %>
            <%= form.hidden_field :title, value: link.title %>
            <%= form.hidden_field :name, value: link.attributes[:name] %>
            <%= form.hidden_field :score, value: link.score %>
            <%= form.hidden_field :last_score, value: link.score %>

            <%= form.text_field :target_score, value: link.score %>
            <%= form.submit "Track This" %>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  Sorry no results were returned. Please try tweaking your search paramters.
<% end %>

