<div>
  <%= form_tag(link_search_path, method: :post, class: "form-inline", "role" => "form", remote: true) do |form| %>
    <div class="form-group">
      <label class="sr-only" for="search_subreddit">Select Subreddit</label>
      In: <%= select_tag 'search[subreddit]', options_for_select(subs), {prompt: "Global"} %>
    </div>
    <div class="form-group search_pd">
      <label class="sr-only" for="search_sort">Search Type</label>
      By: <%= select_tag 'search[sort]', options_for_select([['Relevance', "relevance"], ['New', "new"], ['Hot', "hot"], ['Top', "top"]]) %>
    </div>
    <div class="form-group search_pd">
      <label class="sr-only" for="search_time">Date Range</label>
      When: <%= select_tag 'search[time]', options_for_select([['Day', "day"], ['Week', "week"], ['Month', "month"], ['Hour', "hour"]]) %>
    </div>
    <div class="form-group search_pd">
      <label class="sr-only" for="search_time">Date Range</label>
      <%= text_field_tag 'search[term]', nil, placeholder: 'Enter search term...' %>  
    </div>
    <div class="form-group search_pd">
      <%= submit_tag "Search", class: "btn btn-default", disable_with: "Working..." %>
    </div>
  <% end %>
</div>
<div>
  Add a Sub...
</div>
