<div class="row">
  <div class="col-md-12 col-xs-12">
    <%= form_tag(link_searches_path, method: :post, class: "form-inline", "role" => "form", remote: true) do |form| %>
      <div id="subs_search_select" class="form-group search_pd">
        <label class="sr-only" for="search_subreddit">Select Subreddit</label>
        <span class="bold">In</span>:&nbsp;&nbsp;<%= select_tag 'search[subreddit]', options_for_select([ "All Subreddits"]) %>
      </div>
      <div class="form-group search_pd">
        <label class="sr-only" for="search_sort">Search Type</label>
        <span class="bold">By:</span>&nbsp;&nbsp;<%= select_tag 'search[sort]', options_for_select([['Relevance', "relevance"], ['New', "new"], ['Hot', "hot"], ['Top', "top"]]) %>
      </div>
      <div class="form-group search_pd">
        <label class="sr-only" for="search_time">Date Range</label>
        <span class="bold">When:</span>&nbsp;&nbsp;<%= select_tag 'search[time]', options_for_select([['Day', "day"], ['Week', "week"], ['Month', "month"], ['Hour', "hour"]]) %>
      </div>
      <div class="form-group search_pd">
        <label class="sr-only" for="search_term">Search Term</label>
        <%= text_field_tag 'search[term]', nil, placeholder: 'Enter search term...', class: "inputpad med_input" %>  
      </div>
      <div class="form-group search_pd">
        <%= submit_tag "Search", class: "btn btn-info", data: { disable_with: "Working..." } %>
      </div>
    <% end %>
  </div>
</div>
